{% extends "base.html" %}
{% load static %}

{% block title %}Compare Algorithms{% endblock title %}
{% block compare %}active{% endblock compare %}

{% block content %}

<h1 class="head">Algorithm Comparisons</h1>

<h3 class="sub-head">Time and Space Complexity Table</h3>

<p class="para">
    <b>Time Complexity:</b><br>
    Time Complexity is defined as the number of times a particular instruction set
    is executed rather than the total time taken. It is because the total time taken 
    also depends on some external factors like the compiler used, the processor’s 
    speed, etc.
</p>

<p class="para">
    <b>Space Complexity:</b><br>
    Space Complexity is the total memory space required by the program for its execution. 
</p>

<p class="para">
    Both are calculated as the function of input size(n). One important thing here is 
    that despite these parameters, the efficiency of an algorithm also depends upon 
    the nature and size of the input.<br><br>
</p>

<table class='table para'>
    <thead>
        <tr>
            <th><b><strong>Algorithm</strong></b></th>
            <th colspan="3" style="text-align: center"><b><strong>Time Complexity</strong></b></th>
            <th><span>Space Complexity</span></th>
        </tr>
        <tr>
            <th><span>&nbsp;</span></th>
            <th><span>&nbsp; </span><b><strong>Best</strong></b></th>
            <th><b><strong>Average</strong></b></th>
            <th><b><strong>Worst</strong></b></th>
            <th><span>&nbsp; &nbsp; &nbsp; Worst</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="{% url 'viewBubble' %}" rel="noopener noreferrer nofollow"><span>Bubble Sort</span></a></th>
            <td><span>O(n)</span></td>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(1)</span></td>
        </tr>
        <tr>
            <th><a href="{% url 'viewSelection' %}" rel="noopener noreferrer nofollow"><span>Selection Sort</span></a></th>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(1)</span></td>
        </tr>
        <tr>
            <th><a href="{% url 'viewInsertion' %}" rel="noopener noreferrer nofollow"><span>Insertion Sort</span></a></th>
            <td><span>O(n)</span></td>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(1)</span></td>
        </tr>
    
        <tr>
            <th><a href="{% url 'viewMerge' %}" rel="noopener noreferrer nofollow"><span>Merge Sort</span></a></th>
            <td><span>O(n log(n))</span></td>
            <td><span>O(n log(n))</span></td>
            <td><span>O(n log(n))</span></td>
            <td><span>O(n)</span></td>
        </tr>
        <tr>
            <th><a href="{% url 'viewQuick' %}" rel="noopener noreferrer nofollow"><span>Quick Sort</span></a></th>
            <td><span>O(n log(n))</span></td>
            <td><span>O(n log(n))</span></td>
            <td><span>O(n</span><sup><span>2</span></sup><span>)</span></td>
            <td><span>O(n)</span></td>
        </tr>
    </tbody>
</table>

<h3 class="sub-head">Sorting Algorithm Performance Analysis Test</h3>

<p class="para">
        Here we will try to show the sorting of list written by you or randomly generated by 
        random button. According to the time taken by each sorting algorithm, it will display
        the time.
</p>

<form class="form" method="post" action="{% url 'viewCompare' %}">
    {% csrf_token %}
    <div class="para">
        <label for="list_input">Manual Data Input:</label>
        <input type="text" id="list_input" name="list_input" placeholder="1,2,3,4,5">
    </div>

    <div class="para">
        <label for="array_sizes">Enter Array Size:</label>
        <input type="text" id="array_sizes" name="array_sizes" placeholder="10">
        <div class="but">
            <button type="submit">Start Performance Analysis</button>
        </div>
    </div>

    <div id="sorting_times">
        {% if sorting_times %}
        <ul class="para">
            <li><strong>Bubble Sort Time:</strong> {{ sorting_times.bubble_time }}</li>
            <li><strong>Selection Sort Time:</strong> {{ sorting_times.selection_time }}</li>
            <li><strong>Insertion Sort Time:</strong> {{ sorting_times.insertion_time }}</li>
            <li><strong>Merge Sort Time:</strong> {{ sorting_times.merge_time }}</li>
            <li><strong>Quick Sort Time:</strong> {{ sorting_times.quick_time }}</li>
            <br>
            <li><strong>Array Size:</strong> {{ sorting_times.size }}</li>
            <li><strong>Inputed List:</strong> {{ sorting_times.unsorted_list }}</li>
            <li><strong>Sorted List:</strong> {{ sorting_times.sorted_list }}</li>
        </ul>
        {% endif %}
    </div>
</form>

<div>
    <h3 class="sub-head">Sorting Algorithm Performance Analysis Chart</h3>
    <p class="para">
        This chart depicts the performance comparison of various sorting 
        algorithms (Bubble Sort, Selection Sort, Insertion Sort, Merge Sort,
        and Quick Sort) across different input sizes. Each algorithm's execution
        time (in seconds) is plotted against the input size. From the chart, it's 
        evident that Quick Sort generally outperforms the other sorting algorithms 
        across various input sizes, followed by Merge Sort, while Bubble Sort consistently 
        exhibits the slowest performance.
    </p>

    <div class="graph">
        <div class="btn">
            <button id="plotButton">Plot Data Progressively</button>
        </div>

        <div class="graph-axis para">
            <div class="chart">
                <canvas id="sortingChart" width="700" height="400"></canvas>
            </div>
        </div>
    </div>

</div>

<script>
    document.getElementById('plotButton').addEventListener('click', function() {
        var rawData = {{ data1 | safe }};
        var data = rawData.map(row => [row[0], row[1], row[2], row[3], row[4], row[5]]);
        plotChart(data);
    });

    function plotChart(data) {
        var ctx = document.getElementById('sortingChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.map(row => row[0]),
                datasets: [{
                    label: 'Bubble Sort',
                    borderColor: 'rgb(255, 99, 132)',
                    data: data.map(row => row[1]),
                    fill: false
                }, {
                    label: 'Selection Sort',
                    borderColor: 'rgb(54, 162, 235)',
                    data: data.map(row => row[2]),
                    fill: false
                }, {
                    label: 'Insertion Sort',
                    borderColor: 'rgb(255, 206, 86)',
                    data: data.map(row => row[3]),
                    fill: false
                }, {
                    label: 'Merge Sort',
                    borderColor: 'rgb(75, 192, 192)',
                    data: data.map(row => row[4]),
                    fill: false
                }, {
                    label: 'Quick Sort',
                    borderColor: 'rgb(153, 102, 255)',
                    data: data.map(row => row[5]),
                    fill: false
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Input Size (n)'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Time (s)'
                        }
                    }
                }
            }
        });
    }
</script>

{% endblock content %}